body{
    background-color: orange;
    color: white;
    text-align: center;
}

#main{
    margin-top:200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:2em;
    margin-bottom: 50px;
}

#start{
    margin-top:50px;
    font-size: 0.5em;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main span{
    display:block;
}

#question{
    margin-bottom: 20px;
    font-size: 1em;
}

#score{
    margin-top:250px;
}

button{
    margin: 10px;
    width: 80%;
    height: 40px;
    background-color: white;
    border: none;
    font-size: 1em;
}

#result{
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

#result .summary{
    margin-top:50px;
    display: block;
    text-align: center;
    font-weight: 700;
    height: 20px;
}

.success{
    background-color: green;
}

.fail{
    background-color: red;
}